# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/
.pnpm-store/

# Next.js build output
.next/
*/.next/
*/*/.next/
out/
*/out/
*/*/out/

# Vercel
.vercel/
*/.vercel/
*/*/.vercel/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env*.local
.env

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
